apiVersion: v1
kind: Service
metadata:
  name: {{ include "audicia.fullname" . }}-metrics
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "audicia.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: 8080
      targetPort: metrics
      protocol: TCP
  selector:
    {{- include "audicia.selectorLabels" . | nindent 4 }}
